@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.App {
  overflow-y: hidden;
  height: 100%;
  background-color: #fbf9fa;
}

.main_title {
  margin-top: 30px;
  text-align: center;
  color: #ff4768;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 7px;
  font-size: 35px;
}

.underline__Appointments,
.underline__Patients,
.underline__Reports {
  max-width: 290px;
  margin: auto;
  position: relative;
  margin-top: 12px;
  border: solid red;
  border-radius: 50px;
  transition: 300ms;
}

.underline__Appointments {
  left: 50px;
}
.underline__Patients {
  left: 40px;
  max-width: 200px;
}
.underline__Reports {
    max-width: 170px;
    left: 40px;
}
